/* Default Design */

/* Fonts for the calendar app. */
@font-face {
  font-family: 'calFont';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/PressStart2P.ttf');
}

@font-face {
  font-family: 'calFontSmall_Bold';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/Play-Bold.ttf');
}

@font-face {
  font-family: 'calFontSmall';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/Play-Regular.ttf');
}

.fontPS2P {font-family: 'calFont';}
.fontPlay {font-family: 'calFontSmall';}
.fontPlayBold {font-family: 'calfontSmall_Bold';}

body
{
	font-family: 'calFont', sans-serif;
	font-size: 16pt;
}

input
{
	font-family: 'calFont', sans-serif;
	margin-bottom: 5px;
	font-size: 16pt;
	padding-left: 10px;
	padding-right: 10px;
	width: 100%;
}

/* The window with the offert editor in it. */
#BeOffert_WINDOW_editor
{
	height: 100%;
	/*border: 1px solid #FFFFFA;*/
    position: absolute;
	/* move the window into the center of the screen. */
    left: 50%;
    top: 50%;
    -webkit-transform: translate3d(-50%, -50%, 0);
    -moz-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
	text-align: center;
}

/* Title of the offert window. */
#BeOffert_editor_title
{
	position: relative;
	/*top: 20px;*/
	padding-top: 20px;
	padding-bottom: 20px;
	font-size: 25pt;
}

/* The bar with the buttons in the offert window. */
#BeOffert_DIV_buttons
{
	width: 100%;
	text-align: right;
}

/* The login window and its content. */
#BeCal_WINDOW_login
{
	width: 250px;
	height: 150px;
/*	border: 1px solid #FFFFFA;*/
    position: absolute;
	/* move the window into the center of the screen. */
    left: 50%;
    top: 50%;
    -webkit-transform: translate3d(-50%, -50%, 0);
    -moz-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);	
}

/* The input fields on the login screen. */
.login_input
{
	width: 100%;
	float: left;
	clear: both;
}

/* A login message (login failed, first user ever, etc.) */
.login_message
{
	position: absolute;
	text-align: center;
	width: 100%;
	top: 10%;
	left: 0px;
}

/* the log in button. */
#BeCal_button_login_send, #BeCal_button_login_createRoot
{
	position: relative;
	margin-top: 20px;
	/*bottom: 5px;*/
	left: 50%;
    -webkit-transform: translate3d(-50%, 0, 0);
    -moz-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0);
}

/* a standard button */
.btn
{
	display: inline-block;
	font-size: 14pt;
	text-align: center;
	padding: 5px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-radius: 5px;
}

/* the footer */
#footer
{
	position: absolute;
	left: 0px;
	bottom: 5px;
	width: 100%;
	text-align: center;
	font-size: 10pt;
	z-index: 1000;
}

/* the info view on the bus map. */
#busMap_InfoView
{
	position: absolute;
	right: 10px;
	top: 10px;
	text-align: right;
	white-space: nowrap;
}

/* the mouse position on the bus map */
#busMap_MousePositionDisplay
{
	white-space: nowrap;
	padding: 2px;
	padding-left: 10px;
	padding-right: 10px;
}

/* the div where the actual mouse position will be shown. */
.map-mouse-position
{
	display: inline-block;
}

/* the button to switch between the map views. */
.switchMapViewButton
{
	font-size: 25pt;
	font-weight: bolder;
	padding-bottom: 10px;
	padding-left: 5px;
	padding-right: 5px;
	border-radius: 5px;
}

/* a div with some bottom margin. (for offert window) */
.offertdiv
{
	margin-bottom: 20px;
}

/* CREDITS. Please do not change this. */
#credits_WINDOW
{
	text-align: center;
	max-width: 640px;
	margin: 0 auto;
}

.aboutDiv
{
	margin-bottom: 30px;
}

#credits_DIV_title
{
	margin-top: 20px;
	font-size: 29pt;
}