/* Coloring and decoration for the BeCal System. */
/* BW_DARK */

body
{
	background-color: #000000;
	color: #FFFFFA;
}

a, a:visited
{
	text-decoration: none;
	color: #FFFFFA;
}
a:hover
{
	color: #AAAAAA;
}