/* Coloring for the BeCal System. */
/* DEFAULT */

body, #blocker
{
	background-color: #333369;
	background-image: url('images/bg_repeat.png');
	color: #FFFFFA;
}

#blocker
{
	color: #FFAA00 !important;
}

a, a:visited
{
	text-decoration: none;
	color: #FFAA00;
}

a:hover
{
	color: #FFFF33;
}

/* define an icon for the add work button here. */
.button_offer_add_work_group:after {content:  url('images/icon_crane_plus.png'); margin: 0; padding: 0;}
.button_offer_add_work_group:hover:after {content:  url('images/icon_crane_plus_hover.png'); margin: 0; padding: 0;}

/* a standard button */
.btn, .iconed_btn
{
	color: #FFFF33;
	background-color: #3333FF;
	border: 2px solid #FFFFFA;
}
.btn:hover, .iconed_btn:hover
{
	background-color: #3333AA;
	color: #FFAA00;
	border: 2px solid #FFAA00;
}

.login_input, input
{
	background-color: #3333FF;
	color: #FFFFFA;
	border: 2px solid #FFFFFA;
	border-radius: 3px;
}

.red {color: #FF0000;}
.green {color: #00FF00;}

#busMap_MousePositionDisplay
{
	background-color: #3333FF;
}

/* the button to switch between the map views. */
.switchMapViewButton
{	background-color: #3333FF;
	color: #00FF00;
	border: 2px solid #FFFFFA;
}
.switchMapViewButton:hover
{
	color: #3333FF;
	border: 2px solid #3333FF;
	background-color:#00FF00;
}
.switchMapViewButton:after
{
	content: '\21bb';	
}

