/* Coloring for the BeCal System. */
/* DEFAULT */

body
{
	background-color: #333369;
	color: #FFFFFA;
}

a, a:visited
{
	text-decoration: none;
	color: #FFAA00;
}

a:hover
{
	color: #FFFF33;
}

/* a standard button */
.btn
{
	background-color: #3333AA;
	color: #FFAA00;
	border: 2px solid #FFAA00;
}
.btn:hover
{
	color: #FFFF33;
	background-color: #3333FF;
	border: 2px solid #FFFFFA;
}