/* Base css for the BeCal System */

html, body
{
	position: absolute;
	top: 0px;
	left: 0px;
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
}

#content
{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
}

/* OSM map CSS */
#basicMap
{
	width: 640px;
	height: 480px;
	margin: 0;
}